*{
    padding: 0 auto;
    margin: 0 auto;

}

#contenedor{
    height: 300px;
    width: 600px;
    background-color: grey;
    border: 2px solid black;
    position: relative;
    top: 40px;
}

#ladoi{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 2%;
    margin-top: 2%;

}

#ladod{
    float: right;
    position: relative;
    bottom: 40%;
    right: 5%;
}

#Botones{
    position: relative;
    left: 40%;

}

.encabezado{
    text-align: center;
    position: relative;
    top: 2%;
    font-size: 18px;
}